<!-- Página de listagem de uma entidade -->

<!-- Título da página -->
<h1 class="text-center">Eventos</h1>

<p ng-show="mensagem.texto" class="{{mensagem.tipo}}">
  {{mensagem.texto}}
</p>

<!-- Filtro da tabela de resultados -->
<p>
  Buscar evento: <input ng-model="filtro" type="search" placeholder="parte do nome">
</p>

<!-- Tabela de resultados -->
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Data</th>
        <th>Local</th>
        <th>Valor</th>
        <th>Quantidade</th>
        <th>Participantes</th>
        <th>Certificado?</th>
        <th>Tipo do Evento</th>
        <th>Lista Participantes</th>
        <th class="text-center">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="evento in eventos | filter:filtro">
        <td>
          <a ng-href="#!/evento/{{evento._id}}">{{evento.nome}}</a>
        </td>
        <td>{{evento.data | date :  "dd/MM/y" }}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.valor}}</td>
        <td>{{evento.quantidade}}</td>
        <td>{{evento.quantidadedisponivel}}</td>
        <td>{{evento.certificado}}</td>
        <td>{{evento.tipoEvento}}</td>
        <td class="text-center">
          <a ng-href="#!/participantes" class="btn btn-success">
            Participantes
          </a>
        </td>
        <td class="text-center">
          <button ng-click="remove(evento)" class="btn btn-warning">
            Remover
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Quantitativo da tabela de resultados -->
<p ng-show="eventos.length">
  Eventos cadastrados: {{eventos.length}}
</p>
<p class="text-info" ng-hide="eventos.length">
  Não a eventos cadastrados.
</p>

<!-- Painel dos botões de ação -->
<div class="panel panel-default">
  <div class="panel-body">
    <a ng-href="#!/evento" class="btn btn-primary">Novo</a>
  </div>
</div>
