<div class="jumbotron">
  <h1 class="text-center">
    Bem-vindo ao S.G.E
  </h1>
</div>

<p>
  Buscar evento: <input ng-model="filtro" type="search" placeholder="parte do nome">
</p>

<p ng-show="mensagem.texto" class="{{mensagem.tipo}}">
  {{mensagem.texto}}
</p>

<div ng-repeat="usuario in usuarios track by usuario.id">
  {{usuario.id}} <br/>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>
      Eventos disponíveis
    </h3>
    <!-- Tabela de resultados -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Evento</th>
            <th>Data</th>
            <th>Local</th>
            <th>Vagas</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="evento in eventos | filter:filtro">
            <td>{{evento.nome}}</td>
            <td>{{evento.data | date : "dd/MM/y HH:mm" }}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.quantidade}} / {{evento.quantidadedisponivel}}</td>

            <td class="text-center">
              <button ng-show="evento.isExibirparticipar()" ng-click="participarEvento(evento)" class="btn btn-default" disabled="disabled">
                Participar
              </button>
              <button ng-hide="evento.isExibirparticipar()" ng-click="participarEvento(evento)" class="btn btn-info">
                Participar
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <h3>
      Eventos que vou participar
    </h3>
    <!-- Tabela de eventos inscritos -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Evento</th>
            <th>Data</th>
            <th>Local</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="eventoInscrito in usuario.eventosinscritos | filter:filtro">
            <td>{{eventoInscrito.nome}}</td>
            <td>{{eventoInscrito.data | date : "dd/MM/y HH:mm" }}</td>
            <td>{{eventoInscrito.local}}</td>

            <td class="text-center">
              <button ng-click="removerEvento(eventoInscrito)" class="btn btn-danger">
                Remover
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Quantitativo da tabela de resultados -->
<p ng-show="eventos.length">
  Eventos Disponiveis: {{eventos.length}}
</p>
<p class="text-info" ng-hide="eventos.length">
  Não a eventos cadastrados.
</p>