<div class="jumbotron">
  <h1 class="text-center">
    Bem-vindo ao S.G.E
  </h1>
</div>

<p ng-show="mensagem.texto" class="{{mensagem.tipo}}">
  {{mensagem.texto}}
</p>

<p>
  Rotas disponíveis para o angular (debug)
</p>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>controller</th>
      <th>originalPath</th>
      <th>templateUrl</th>
      <th>regexp</th>
      <th>keys</th>
    </tr>
    <tr ng-repeat="route in routes">
      <td>{{route.controller}}</td>
      <td>{{route.originalPath}}</td>
      <td>{{route.templateUrl}}</td>
      <td>{{route.regexp}}</td>
      <td>{{route.keys}}</td>
    </tr>
  </table>
</div>
