<html>

<head>
  <title>Autenticação do Usuário</title>
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">
  <!--build:css css/auth.min.css -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
  <!--endbuild -->

</head>

<body>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-center">
      <h1>Bem vindo ao SiGEA</h1>
      <p class="lead">Faça login ou crie sua conta rapidamente.</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Logar</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Criar</a>


    </div>

  </div>
</body>
</html>


</html>
